.box_two {

    font-size: 2rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

}

.beneficios {
    justify-content: center;
    display: flex;
    height: 1, 5rem;
    padding: 5rem;
    font-size: 0, 8rem;
}

.beneficios .texto {
    font-size: small;
}

.info {
    font-size: 1.2rem;
}
.titulo2 {
    font-size: 2.8rem;
    padding: 1.5rem;
}

.titulo3 {
    font-size: 2.4rem;
    padding: 1rem;
}